.box {
  width: 200px;
  height: 100px;
}

h1 {
  text-align: center;
}

.box1 {
  background-color: aqua;
  border: 2px dashed #db5353;
  font-size: 20px;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 3px;
  padding-right: 30px;
}

.box2 {
  background-color: rgb(128, 186, 35);
  border: 2px dashed #db5353;
  font-size: 20px;
  margin: 10px;
  padding: 10px 30px 15px 3px;
}
.box3 {
  background-color: rgb(30, 0, 255);
  border: 2px dashed #db5353;
  font-size: 20px;
  margin: 10px;
  padding: 10px 30px 15px 3px;
}
