body {
  padding-left: 40px;
}

p {
  font-size: 20px;
  font-weight: 800;
  color: #2e2b2b;
}

ul {
  width: 80%;
}
ul li {
  list-style-type: none;
  margin: 10px 0 10px 0;
  border-bottom: 2px solid grey;
  padding-bottom: 10px;
}
a {
  text-decoration: none;
  color: rgb(226, 43, 43);
  /* cursor: help; */
}

a:hover {
  color: blueviolet;
  font-size: 2rem;
}

a:visited {
  color: blue;
}

a:active {
  color: orange;
}
