.divider {
  width: 100%;
  height: 40px;
  background-color: black;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

.box {
  width: 100%;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.box1 {
  background-color: #ee2a2a;
}
.box2 {
  background-color: #c78119;
}
.box3 {
  background-color: #9999ff;
}
.box4 {
  background-color: #28c719;
}
.box5 {
  background-color: #2bcee4;
}
.box6 {
  background-color: #195fc7;
}
.box7 {
  background-color: rgb(144, 25, 199);
}
.box8 {
  background-color: #f173f1;
}
.box9 {
  background-color: #ec1059;
}

.container1 {
  display: grid;
  /* grid-template-columns: 150px 150px 150px 150px; */
  /* grid-template-columns: 25% 25% 25% 25%; */
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
}

.container2 {
  display: grid;
  gap: 20px;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 3fr;
}

.container3 {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: 1fr;
}

.container4 {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: 1fr;
}

.individual-item {
  /* grid-column-start: 1;
  grid-column-end: 3; */
  /* grid-column: 1/3; */
  grid-column: 1/-1;
}
