.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  justify-items: center;
  gap: 2rem;
}

.menu-item {
  display: flex;
  gap: 1rem;
  max-width: 20rem;
  justify-content: center;
}
.photo {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 1px solid #1a4bd1;
  border-radius: 6px;
  display: block;
}

.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #1a4bd1;
}

.item-info h4 {
  text-transform: uppercase;
}

.price {
  color: #1a4bd1;
}
.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}
